.home-content {
    width: 100%;
}

.home-content  .image-showcase-block {
    width: 95%;
    max-width: 450px;
    margin: 10px auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    
}

.home-content  .image-showcase-block img{
    width: 100%;
    height: 100%;
    margin: auto;
}

.home-showcase-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.home-showcase-flex .home-showcase-block {
    display: block;
    border-radius: 5px;
    border: 2px solid #996806;
    background: linear-gradient(#221c14,#291600);
    padding: 15px 10px;
    width: 100%;
    color: #fff;
    margin:  0px 10px;
    display: flex;
    align-items: center;
}

.home-showcase-flex .home-showcase-block  {
    display: block;
    font-size: 16px;
    text-align: center;
}

.home-showcase-flex .home-showcase-block  i {
    font-size: 26px;
}

.home-showcase-flex .home-showcase-block:last-child {
    margin: 0;
}

.home-showcase-flex .home-showcase-block:first-child {
    margin: 0;
}