
.transaction-wrapper {
    padding: 10px;
}

.transaction-box {
    margin-top: 10px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #56575f;
    background: #221c14;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 20px 10px;
    border: 1px solid #393a3d;
    margin-bottom: 10px;
}

.transaction-box td {
    padding: 5px 0px;
    font-size: 10px;
    height: 45px;
    font-weight: 500;
    color: #c1c1c1;
    font-size: 12px;
    border-bottom: 1px solid #3e3f46;
    border-left: 0;
    cursor: pointer;
    background: transparent;
    
}

.transaction-box h3 {
    margin: 0 0 10px;
    font-weight: 600;
    font-size: 18px;
    background: linear-gradient(to left, #8d8d95, #c9c9cf);
    -webkit-background-clip: text;
    color: transparent;
}

.transaction-box li {
    position: relative;
    padding: 0 0 0 17px;
    margin: 0 0 5px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
}

.transaction-box span:first-child {
    position: absolute;
    left: 0;
    top: 2px;
    color: #fff;
    font-size: 14px;
}

.transaction-inner-section {
    padding: 0 5px 10px;
    border-bottom: 1px solid #393a3d;
    margin-bottom: 10px;
}

.transaction-inner-section .title {
    margin-bottom: 10px;
}



#newAccount {
    width: 137px;
    height: 37px;
    line-height: 37px;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background: #0f49d1;
}

.child-flex {
    display: flex;
    align-items: center;

}


.trans-button {
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    margin-right: 5px;
    background: #008000;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border-radius: 6px;
    box-shadow: 2px 2px 1px #063606;
    border: none;
    cursor: pointer;

}

.trans-button:first-child {
    margin-left: 0;

}

.reset {
    background: #b63b20;
    max-width: 32%;
}

.default {
    background: linear-gradient(#838383,#4b4b4b);
    color: #fff;
    
}


.secondary {
    max-width: 120px;
    border: 2px solid #e00a15;
    font-size: 12px;
    border-radius: 5px;
    box-sizing: border-box;
    background: transparent;
    color: #fff;
    line-height: unset;

}

.input-tras-wrapper {
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

#IC_Amount {
    width: 100%;
    padding: 0 10px;
    height: 40px;
    border: 1px solid #393a3d;
    outline: 0;
    border-radius: 5px;
    background: #0f0f10;
    color: #fff;
    margin-right: 5px;
}



#IC_Amount_2 {
    width: 100%;
    max-width: 200px;
    padding: 0 10px;
    height: 40px;
    border: 1px solid #393a3d;
    outline: 0;
    border-radius: 5px;
    background: #0f0f10;
    color: #fff;
    margin-right: 5px;
}


.help {
    margin-top: 10px;
    font-size: 12px;
}

.submit-deposit {
    width: 184px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background: #03a9f4;
    border-radius: 33px;
    box-shadow: 3px 3px 1px #0c2e3d;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

}


.submit-deposit i {
    font-weight: 300;
    font-size: 20px;
    margin-right: 10px;
}

.submit-withdrawal {
    width: 184px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background: #b63b20;
    box-shadow: 3px 3px 0px #da5537;
    border-radius: 33px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

}


.submit-withdrawal i {
    font-weight: 300;
    font-size: 20px;
    margin-right: 10px;
}


.trans-history-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    border-top: 2px solid #996806;
}

.trans-history-table  th {
    background: #333;
    padding: 10px 3px;
}

.history-btn {
    width: 85px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #3f4043;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    background: #000000;
}