body {
    background: #000000 !important;
}

.navigation {
    position: relative;
    height: 50px;
    border-bottom: 1px solid #996806;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    color: #fff;
    font-size: 25px;
    background: #221c14;
}

.navigation .menu {
    color: #ffd989;
}

.navigation .user {
    border: 1px solid #ffd989;
    color: #ffd989;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.navigation .brand {
    display: flex;
    align-items: center;
}

.navigation .brand img {
    height: 29px;
}

.basic-user-information {
    display: flex;
    align-items: center;
    color: #fff;
    border-bottom: 1px solid #3a3a3a;
    height: 50px;
    padding: 0px 20px;
    font-size: 14px;
    background: #000000b3;
}

.basic-user-information .icon-with-info {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}

.basic-user-information .icon-with-info i {
    margin-right: 5px;

    font-size: 16px;
}

.basic-user-information .level {
    display: flex;
    align-content: center;
    justify-content: center;
}

.basic-user-information img {
    width: 20px;
}

.balance-information-section {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b5b5b5;
    padding: 10px 0px;
    background: #000000b3;
}

.balance-information-section .balance-block {
    width: 100%;
    text-align: center;
    font-size: 14px;

}

.balance-block label {
    display: block;
}

.balance-information-section .balance-block:first-child {
    border-right: 1px solid #3a3a3a;
}

.one-notice {
    color: #b5b5b5;
    font-size: 12px;
    padding: 0 10px;
    background: #221c14;
    font-weight: 600;
}

.one-notice .notice-cont {
    overflow: hidden;
}

.one-notice .notice {
    width: 30px;
    line-height: 39px;
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    font-size: 12px;
    text-align: center;
}

.one-notice .notice img {
    position: relative;
    top: 2px;
}

.one-notice marquee {
    width: calc(100% - 35px);
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 12px;
    z-index: 0;
}

.menu-image-wrapper {
    padding: 10px;
}


.menu-image-wrapper img {
    width: 100%;
    max-width: 200px;

}

.mobile-no-flex {
    display: flex;
}

.mobile-no-flex div:nth-child(2) {
    margin-left: 5px;
}

.mobile-no-flex label {
    margin-right: 5px;
}

@media only screen and (max-width: 400px) {
    .mobile-no-flex {
        display: unset;
    }

    .mobile-no-flex div:nth-child(2) {
        margin-left: 0;
    }

    .mobile-no-flex label {
        margin-right: 0;
    }
    
}
  