.right-sidebar {
    width: 100%;
    position: fixed;
    right: -100%;
    top: 0;
    overflow-y: scroll;
    height: 100vh;
    background: #000;
    transition: 0.2s ease-in-out;
}


.right-sidebar-header {

    width: 100%;
    background: #221c14;
    position: relative;
    position: sticky;
    top: 0;
}


.right-sidebar-header .sidebar-brand  {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 50px;
    padding: 0px 20px;
    color: #fff;
    font-weight: 600;
}

.right-sidebar-header .sidebar-brand  span {
    margin-right: 5px;
}


.right-sidebar-header .sidebar-brand img{
    text-align: center;
    width: 150px;
}

.close-right-sidebar {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: none;
    color: #fff;

}

.close-right-sidebar.close-right-sidebar span {
    font-size: 30px;
}


.right-sidebar-user-balance {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background: #221c14;
    border-top: 1px solid #855b08;
    border-bottom: 1px solid #855b08;
    font-size: 12px;
    padding: 10px 20px;
    font-weight: 600;
}

.sidebar-balance-section  .main-balance-block span {
    display: flex;
}

.sidebar-balance-section  .main-balance-block .main-balance {
    font-size: 20px
}

.right-sidebar-user-balance .balance-block {
    height: 40px;
    display: flex;
    align-items: center;
}

.right-sidebar-user-balance .balance-block span {
    margin-right: 5px;
}

.right-sidebar-user-balance .balance-block:first-child {
    border-bottom: 1px solid #463724;
}

.right-sidebar-menu {
    margin-top: 10px;
    background: #221c14;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 10px 0px;
    border-top: 1px solid #855b08;
     border-bottom: 1px solid #855b08;
}


.right-sidebar-menu .right-menu-block {
    text-align: center;
    color: #fff;
    padding: 5px;
}

.right-sidebar-menu .right-menu-block i {
    display: block;
    font-size: 25px;
    margin-bottom: 5px;
}

.right-sidebar-menu .right-menu-block span {
    font-size: 12px;
    font-weight: 600;
}

.right-sidebar-menu-block {
    margin-top: 10px;
    background: #221c14;
    display: grid;
    color: #fff;
    padding: 10px 0px;
    border-top: 1px solid #855b08;
    border-bottom: 1px solid #855b08;
}

.right-sidebar-menu-block  .menu-block-2 {
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
}