@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background: #141414;
    width: 100%;
    min-height: 100vh;
    background-attachment: fixed;
}


button {
    border: none;
}

.flex-end {
    justify-content: flex-end;
}

.sticky {
    position: sticky;
    top: 10px;
}

.m-0 {
    margin: 0!important;
}

.my-4 {
    margin-top: 0.8rem!important;
    margin-bottom: 0.8rem!important;
}

.px-3 {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

ul {
    list-style: none;
    padding: 0;
}


a {
    text-decoration: none; /* no underline */
}

.c-pointer {
    cursor: pointer;
}


input:focus {
    outline: none;
}

.container {
    max-width: 900px;
    margin: auto;
}

.white {
    color: #fff;
}

.pink {
    color: #ff009c;
}

.red {
    color: #e73b54!important;
}
.gray {
    color: #8e8e98;
}

.violet {
    color: #833bbd;
}

.yellow {
    color: #ffd989 !important;
}

.green {
    color: #3ec600;
}

.blue {
    color: #5d8ef9 ;
}

.bg-dark-violet {
    background: #4f09b7;
}


.bg-gray {
    background: #354e5d;
}
.bg-pink {
    background: #ff009c!important;
}

.bg-violet {
    background: #833bbd;
}

.bg-none {
    background: transparent;
    border: none;
}

.bg-orange {
    background: #fb6f3e;
}

.bg-blue {
    background: #4860e8;
}

.bg-violet {
    background: #d32ee2!important;   
}

.relative {
    position: relative;
}

.text-center {
    text-align: center;
}

.flex-1 {
    flex: 1!important;
}

.flex-2 {
    flex: 2!important;
}

.flex-3 {
    flex: 3!important;
}

.flex-4 {
    flex: 4!important;
}

.justify-center {
    justify-content: center!important;
}

.justify-start {
    justify-content: start!important
}

.justify-between {
    justify-content: space-between;
}


.my-2 {
    margin-top: 0.2rem!important;
    margin-bottom: 0.2rem!important;
}


.app-button {
    margin: 0;
    padding: 1px;
    position: relative;
    border: solid 1px transparent;
    overflow: hidden;
    cursor: pointer;
    background: transparent;
    width: 100%;
    border-radius: 5px;
}

.app-button .inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
    border: solid 1px #222;
    width: 100%;
    border-radius: 5px;
}

.logout {
    border: solid 1px #d85c38;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

.logout .inner-wrapper {
    background-image: linear-gradient(#af300c, #bb432e);
}

.red-button {
    border: solid 1px #d85c38;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

.red-button .inner-wrapper {
    background-image: linear-gradient(#af300c, #bb432e);
}


.green-button {
    border: solid 1px #008000;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}


.green-button .inner-wrapper {
    background-image: linear-gradient(#094e09, #008000);
}



.blue-button {
    border: solid 1px #0867b3;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}


.blue-button .inner-wrapper {
    background-image: linear-gradient(#125489, #03a9f4);
}

.pink-button {
    border: solid 1px #ff009c;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}


.pink-button .inner-wrapper {
    background-image: linear-gradient(#881b5e, #ff009c);
}


.sky-blue-button {
    border: solid 1px #22ebff;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}


.sky-blue-button .inner-wrapper {
    background-image: linear-gradient(#1f828b, #22ebff);
}



.banner {
    position: relative;
    top: 30%;
    z-index: -1;
    margin-bottom: -30%;
}


.banner img{
    width: 100%;
    object-fit: cover;
}

.app-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    cursor: pointer;
}

.app-tabs .app-child-tabs.active {
    width: 100%;
    color: #fff;
    background: linear-gradient(#f5b436, #221c14);
}

.app-tabs .app-child-tabs:hover {
    background: linear-gradient(#f5b436, #221c14);
    color: #fff;
}


.app-tabs .app-child-tabs {
    text-align: center;
    font-weight: 600;
    width: 100%;
    position: relative;
    display: block;
    height: 40px;
    font-size: 13px;
    color: #222;
    line-height: 40px;
    background: linear-gradient(#fff, #dadbdc);
}



.app-lists-slide {
    width: 100%;
    overflow-y: hidden;
    overflow-x:scroll;
    margin: 5px 0px;
    background: #221c14;
}

.app-lists-slide ul {
    white-space: nowrap;
}

.app-lists-slide li {
    display: inline-block;

    max-width: 100px;
    text-align: center;
    padding: 10px 20px;
    color: #fff;
    border-right:1px solid #99680627;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}

.app-lists-slide li.active {
    color: #ffd989;
}

.elip-content {
    width: 100%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 50vw;
}

.table-trunk {
    max-width: 35vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}